body {
	background-color: gray;
}

/*.container {
	background-color: white;
	width: 350px;
	margin-bottom: 15px;
}
*/
.container {
	background-color: white;
	width: 750px;
	margin-bottom: 15px;
}

.stack {
	width: 350px;
}

.tree {
	width: 550px;
}

g {
	font-family: arial;
	font-size: 11;
}